h1{
  color: #ff0000;
  font-family:  "Arial";
  font-weight: bold;
}

h2{
  color: #00a2ff;
  font-family:  "Arial";
  font-weight: bold;
}


h3{
  color: #37e370;
  font-family:  "Arial";
  font-weight: bold;
}

h4{
  color: #663399;
  font-family:  "Arial";
  font-weight: bold;
}